<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connectToDoctor</title>
</head>
<body>
    <div class="header">
        <h2>Chat App</h2>
    </div>
    <div class="main">
        <div class="left">
            <div class="videos__group">
                <div id="video-grid">
                </div>
            </div>
            <div id="cam">
                <button>cam</button>
            </div>
            <div id="mic">
                <button>cam</button>
            </div>
            <div id="chat">
                <button>chat</button>
            </div>
            <div id="invite">
                <button>invite</button>
            </div>
        </div>
        <div class="right">
            <div id="message">
                <input type="text" name="type_message" id="type_message">
            </div>
        </div>
    </div>
</body>
</html>